---
import P from './P.astro';

const { class: cls, ...props } = Astro.props;
---

<style>
    .big {
        font-size: var(--fontSizeLg);
        font-weight: var(--fontWeightSm);
    }
</style>

<P class:list={['big', cls]} {...props}>
  <slot />
</P>
