---
/* eslint-disable max-lines */
import CustomImage from '../components/CustomImage.astro';
import Row from '../components/rows/Row.astro';
import AboutLayout from '../layouts/AboutLayout.astro';
import AboutLine from '../components/AboutLine.astro';
---

<style>
    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .col1 {
        grid-column: 1 / 3;
    }

    .col2 {
        grid-column: 4 / -1;
    }

    .crooked {
        transform-origin: top center;
        animation: crooked 0.5s ease-in-out 1s forwards;
    }

    .row {
        padding-left: 0;
        padding-right: 0;
    }

    .about-experience-container {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .about-line {
        margin-bottom: var(--spacingMd);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: var(--fontWeightLg);
        color: var(--colorText);
    }

    h4 {
        padding-left: 1em;
    }

    h5 {
        all: unset;

        font-family: var(--fontMono);
        font-size: var(--fontSizeSm);
    }

    h2 {
        margin-block-start: var(--spacingLg);
    }

    p,
    ul,
    li {
        color: var(--colorTextSecondary);
    }

    p {
        font-weight: var(--fontWeightSm);
    }

    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    li {
        padding-left: 1em;
        text-indent: -1em;

        font-weight: var(--fontWeightSm);
    }

    li:before {
        content: "_ ";
        padding-right: var(--spacingSm);
    }

    strong {
        font-weight: var(--fontWeightMd);
    }

    @keyframes crooked {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-3deg);
        }
    }

    @media only screen and (max-width: 600px) {
        .col1 {
            grid-column: 1 / -1;
        }

        .col2 {
            grid-column: 1 / -1;
        }
    }
</style>

<AboutLayout>
  <Row class="row">
    <div class="col col1 crooked">
      <CustomImage
        src="/assets/MeandBoysGolfing.jpeg"
        alt="Steve Ferguson portrait picture"
        width={1200}
        height={1500}
      />
    </div>

    <div class="col col2">
      <p>
        My career journey has been anything but traditional, shaping my ability to solve complex problems and adapt to diverse challenges. I hold a Master's in Music Performance and an MBA in Finance. I began my career in the finance department of a large aerospace and defense company, where I first started programming—writing PHP to automate tasks and eliminate wasted time. Next, I managed a 4,000-acre rice farm for four years. After that, I fully transitioned into technology, working my way up to Tech Lead in Software Engineering. This unique path has honed my leadership, strategic thinking, and technical expertise.
      </p>
      
      <p>
        In my current role, I split my time between leading teams and addressing complex technical challenges. I've successfully revamped hiring processes, implemented career roadmaps, and supported team members' growth while actively participating in Scrum ceremonies like standups, sprint planning, and retrospectives.
      </p>
      
      <p>
        My day to day technical expertise includes Next, Astro, Remix. I have really enjoyed building Cloudflare Workers, and TS libraries, CI/CD pipelines, and DevOps tools like Docker and Terraform.
      </p>

      
      <p>
        Some of my recent projects I have enjoyed include:
      </p>
      
      <ul>
        <li>CLI - allows developers to quickly create new TS libraries, Cloudflare Workers, web components</li>
        <li>Modernizing legacy apps to Next</li>
        <li>CI/CD pipelines to automate coding standards</li>
        <li>Headless woographql e-commerce site</li>
        <li>Checkout Smoke Tests</li>
      </ul>
    </div>
  </Row>

  <div class="about-experience-container">
    <h3>Work</h3>

    <AboutLine
      class="about-line"
      title="Delta Defense"
      description="Tech Lead"
      date="August 2021 - May 2025"
      location="West Bend, WI"
    />
    <AboutLine
      class="about-line"
      title="Delta Defense"
      description="Software Engineer"
      date="April 2018 - August 2020"
      location="West Bend, WI"
    />

    <AboutLine
      class="about-line"
      title="Marinette Marine"
      description="Program Cost Analyst"
      date="November 2016 - April 2018"
      location="Marinette, WI"
    />

    <AboutLine
      class="about-line"
      title="Maranatha Farms"
      description="Managed 4000 acre Rice and Soybean farm"
      date="June 2013 - Nov 2016"
      location="Arkadelphia, AR"
    />

    <AboutLine
      class="about-line"
      title="Bell Helicopter"
      description="Earned Value Management Analyst"
      date="June 2009 - May 2013"
      location="Fort Worth, TX"
    />


    <h3>Academic</h3>

    <AboutLine
      class="about-line"
      title="University of North Texas"
      description="MBA Finance"
      date="August 2009 -> May 2011"
      location="Denton, TX"
    >
    <br>
    <AboutLine
      class="about-line"
      title="University of North Texas"
      description="Master of Music - French Horn Performanace "
      date="August 2007 -> May 2009"
      location="Denton, TX"
    >
    <br>
    <AboutLine
      class="about-line"
      title="University of Wisconsin - Stevens Point"
      description="Bachelor of Music - Music Performance"
      date="August 2003 -> May 2007"
      location="Stevens Point, WI"
    ></AboutLine>


    <h3>Publications</h3>

    <div class="about-line">
            Moi Composites Team: Levi, M., Natale, G., <b>Ferguson, M.</b>
             (2022). <i
      >Integration of the CFM process for the construction of
                components for the marine sector.</i
      > Compositi Magazine n.63, p.13-16.
    </div>


    <h3>Awards</h3>
    <AboutLine
      class="about-line"
      title="SN Genova Design Innovation Award"
      description="Winner of Special Innovation Award"
      date="Oct 2020"
    />


    <h3>Exhibitions</h3>
    <AboutLine
      class="about-line"
      title="MakerFaire 2016"
      description="ENI Solar Park"
      date="Rome IT, Oct 2016"
    />

  </div>
</AboutLayout>
