---
import MainLayout from './MainLayout.astro';
---

<style>
    section {
        padding-left: var(--spacingMd);
        padding-right: var(--spacingMd);

        padding-top: var(--spacingLg);
        padding-bottom: var(--spacingLg);
    }
</style>

<MainLayout>
  <section>
    <slot />
  </section>
</MainLayout>
